/* import { makeStyles } from "@mui/material";
import { deepPurple, red } from "@mui/material";
import { borderRadius, style } from "@mui/system";

export default makeStyles((theme) => ({ */
  .appBar {
    border-radius: 15;
    margin: 30px 0;
    display: flex;
    flex-Direction: row;
    justify-Content: space-between;
    align-Items: center;
    padding: 5px 10px;
    flex-Grow: 1;
    background-color: white;
    max-height: 60px;
  }
  .appBarUnten {
    border-Radius: 15;
    background-Color: "red";
    margin: "20px 0";
    display: "flex";
    flex-Direction: "row";
    justify-Content: "space-between";
    align-Items: "center";
    padding: "10px 50px";
    flex-Grow: 1
  }
  .appBarTeil {
    display: flex;
    flex-direction: row;
  }
  .heading {
    color: rgba(0,183,255, 1);
    text-Decoration: none;
    border: 1px solid rgba(0,183,255, 1);
    border-Radius: 50%;
    max-width: 300px;
    text-align: center;
  }
  @media (max-width: 480px) {
    .heading {
      display: none;
    }
    
  }
  .image {
    margin-Left: 15px;
    max-height: 60px;
  }
  .toolbar {
    display: flex;
    justify-Content: flex-end;
    padding: 8px 20px;
    background-color: red;
    color: aliceblue;
    font-weight: 700;
    box-shadow: 5px 5px 5px black;
  }
  .profile {
    display: "flex";
    justify-Content: "space-between";
    width: "400px"
  }
  .profilemobil {
    display: "flex";
    flex-Direction: "column";
    margin-Top: "60px";
    align-Items: "flex-start"
  }
  .userName {
    display: "flex";
    align-Items: "center";
    color: "rgba(0,183,255, 1)"
  }
 
  .brandContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-Items: "center";
      list-style: none;
      background-color: aliceblue;
      padding: 10px;
      border-radius: 4%;
      color: fuchsia;
      font-weight: 700;  
    }
 
    @media (max-width: 1100px) {
      .brandContainer {   
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-Items: "center";
      list-style: none;
      background-color: aliceblue;
      padding: 10px;
      border-radius: 0%;
      color: fuchsia;
      font-weight: 700;}
  }

  @media (max-width: 480px) {
    .brandContainer {   
    display: none;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 0%;
    color: fuchsia;
    font-weight: 700;}
}

  .purple {
    /* color: theme.palette.getContrastText(deepPurple[500]), */
    background-Color: "rgba(0,183,255, 1)";
    /* backgroundColor: deepPurple[500], */
  }
  .purplemobil {
    /* color: theme.palette.getContrastText(deepPurple[500]), */
    background-Color: "rgba(0,183,255, 1)";
    margin-Bottom: "40px"
  }
 
